* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: Verdana;
}

body {
   height: 100vh;
   box-sizing: border-box;
}

/* Topo da página */
header {
   display: flex;
   align-items: center;
}

header img {
   width: 150px;
}

nav {
   flex: 1;
   text-align: center;
   font-size: 20px;
}

nav a {
   color: #1351d8;
   text-decoration: none;
}

/* Conteúdo da página */
main {
   text-align: center;
   margin: 5%;
}

.pagina-inicial img {
   width: 90%;
}

iframe {
   width: 100%;
   height: 480px;
}

table {
   justify-self: center;
}

td,
th {
   text-align: center;
   padding: 8px;
   border-collapse: collapse;
}

/* Pé da página */
footer {
   position: static;
   z-index: 3;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: #1b357e;
   color: white;
   text-align: left;
   padding: 10px;
   display: flex;
   align-items: center;
}

.links {
   display: flex;
   gap: 10px;
   text-align: left;
   flex-grow: 8;
   vertical-align: text-top;
   align-items: center;
}

.links img {
   width: 20px;
}

.copyright {
   text-align: center;
   flex-grow: 2;
}