* {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   vertical-align: baseline;
   font-family: Verdana;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}

/* 1 - Topo da página */
header {
   display: flex;
   align-items: center;
   padding: 10px;
   box-shadow: 0 3px rgb(196, 196, 196);
}

header img {
   width: 150px;
}

nav {
   display: flex;
   flex: 1;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
   font-size: 20px;
}

nav a {
   color: #1351d8;
   text-decoration: none;
}

main {
   text-align: center;
   flex: 1;
}

/* 2 - Pagina inicial */
.pagina-inicial {
   margin: 2%;
}

.pagina-inicial img {
   width: 90%;
}

/* 3 - Página do lançamento */
iframe {
   width: 100%;
   height: 480px;
}

.descricao {
   padding: 1% 8%;
   text-align: left;
   font-size: 14px;
}

/* Tabela */
.tabela {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 0 2%;
}

table {
   margin: 5px;
   font-size: 14px;
}

td,
th {
   text-align: left;
   vertical-align: middle;
   padding: 0 8px;
   border-collapse: collapse;
}

.nome-carro {
   color: #1351d8;
   font-weight: bold;
}

/* Checkbox */
.seletor {
   display: block;
   position: relative;
   padding-left: 25px;
   margin-bottom: 28px;
   cursor: pointer;
   font-size: 20px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.seletor input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 24px;
   width: 24px;
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.seletor:hover input~.checkmark {
   background-color: #ccc;
}

.seletor input:checked~.checkmark {
   background-color: #1351d8;
}

.checkmark::after {
   content: "";
   position: absolute;
   display: none;
}

.seletor input:checked~.checkmark::after {
   display: block;
}

.seletor .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

/* Botão */
.botao {
   margin-top: 10px;
}

.button {
   background-color: #1351d8;
   border: none;
   color: white;
   padding: 10px 40px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border-radius: 5px;
   margin: 10px;
   transition-duration: 0.4s;
   box-shadow: 0 5px gray;
}

.button:hover {
   background-color: #3573fafe;
}

.button:active {
   background-color: #1351d8;
   box-shadow: 0 5px rgb(49, 49, 49);
   transform: translateY(4px);
}

/* 4 - Página de contato */
.contato {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 30px;
}

.contato img {
   margin: 10px;
}

/* Formulário */
.formulario {
   flex-wrap: wrap;
   width: 250px;
}

input[type=text],
select,
textarea {
   width: 100%;
   padding: 6px;
   margin: 3px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
   font-size: small;
}

input[type=submit] {
   width: 50%;
   background-color: #1351d8;
   color: white;
   padding: 6px;
   margin: 3px 0;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 3px gray;
}

input[type=submit]:hover {
   background-color: #3573fafe;
}

input[type=submit]:active {
   background-color: #1351d8;
   box-shadow: 0 3px rgb(49, 49, 49);
   transform: translateY(4px);
}

/* 5 - Pé da página */
footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: #1b357e;
   color: white;
   text-align: left;
   padding: 10px;
   display: flex;
   align-items: center;
}

.links {
   display: flex;
   gap: 10px;
   text-align: left;
   flex-grow: 1;
   vertical-align: text-top;
   align-items: center;
}

.links img {
   width: 20px;
}

.copyright {
   font-size: 12px;
   flex-grow: 10;
   text-align: center;
}

.logo {
   text-align: center;
   flex-grow: 2;
}