* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: Verdana;
}

body {
   height: 100vh;
   box-sizing: border-box;
}

/* Topo da página */
header {
   display: flex;
   align-items: center;
   padding: 10px;
   box-shadow: #000000c0;
}

header img {
   width: 150px;
}

nav {
   display: flex;
   flex: 1;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
   font-size: 25px;
}

nav a {
   color: #1351d8;
   text-decoration: none;
}

/* Conteúdo da página */
main {
   text-align: center;
   margin: 5%;
}

.pagina-inicial img {
   width: 90%;
}

iframe {
   width: 100%;
   height: 480px;
}

.contato {
   display: flex;
   justify-self: center;
}

/* Tabela */
.tabela {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

table {
   margin: 5px;
}

td,
th {
   text-align: left;
   vertical-align: middle;
   padding: 8px;
   border-collapse: collapse;
}

/* Formulário */
.formulario {
   flex-wrap: wrap;
}

input[type=text],
select {
   width: 100%;
   padding: 6px;
   margin: 3px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
   font-size: small;
}
input[type=submit] {
   width: 50%;
   background-color: #1351d8;
   color: white;
   padding: 6px;
   margin: 3px 0;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 input[type=submit]:hover {
   background-color: #3573fafe;
 }

/* Pé da página */
footer {
   position: sticky;
   z-index: 3;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: #1b357e;
   color: white;
   text-align: left;
   padding: 10px;
   display: flex;
   align-items: center;
}

.links {
   display: flex;
   gap: 10px;
   text-align: left;
   flex-grow: 8;
   vertical-align: text-top;
   align-items: center;
}

.links img {
   width: 20px;
}

.copyright {
   text-align: center;
   flex-grow: 1;
}